body{
  margin: 0;
}
header{
  width: 100%;
  height: 70px;
  border-bottom: 1px #c0c0c0 solid;
}
header h1{
  margin: 0;
  text-align: center;
  line-height: 70px;
}
article{
  width: 800px;
  margin: 0 auto;
  margin-top: 40px;
}
article h2, h3{
  text-align: center;
  margin: 0;
}
#oubo-form{
  width: 800px;
  height: 1000px;
}
footer{
  width: 100%;
  height: 40px;
  border-top: 1px #c0c0c0 solid;
}
footer p{
  text-align: center;
  margin: 0;
  line-height: 40px;
}

/* レスポンシブ */

@media screen and (max-width: 1000px){
  article{
    width: 95%;
  }
  #oubo-form{
    width: 100%;
  }
}